@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-start: theme(colors.gray.100);
  --bg-color-end: theme(colors.gray.100);
  --color: theme(colors.gray.900);
  --gray: theme(colors.gray.100);
  --orange-600: theme(colors.orange.600);
}

@media (prefers-color-scheme: dark) {
  :root {
    // --bg-color-start: #11212c;
    // --bg-color-end: #11212c;
    // --color: theme(colors.cyan.200);

    --bg-color-start: theme(colors.gray.100);
    --bg-color-end: theme(colors.gray.100);
    --color: theme(colors.gray.900);
  }
}

.bg {
  color: var(--color);
  background: linear-gradient(to bottom,
      transparent,
      var(--bg-color-start)) var(--bg-color-end);
}

main {
  height: 80vh;
  font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h-inherit {
  height: inherit;
}

.custom-chart {
  height: 60vh;
}

progress {
  --webkit-appearance: none;
  transition: all ease-in-out 3s;
}

progress::-webkit-progress-bar {
  background-color: var(--gray);
}

progress::-webkit-progress-value {
  background-color: var(--orange-600);
  border-radius: 0 100px 100px 0;
}